# tensorflow==2.15.0
# pandas 
# numpy 
# scikit-learn
# tensorboard
# matplotlib
# streamlit
# keras
# gensim
# nltk
# spacy
# en-core-web-sm

tensorflow==2.15.0
numpy<2.0
pandas
scikit-learn
tensorboard
matplotlib
streamlit
keras
gensim
nltk
spacy==3.8.1
en-core-web-sm==3.8.0

